@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
}

.top{
	width: 100vw;
	height: calc( (100vh - 600px) / 2);
	margin: 0px;
	padding: 0px;
	background: linear-gradient(#423c3c, #8e8e85)
}

.main{
	width: 100vw;
	height: 600px;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #8e8e85;
}

.bottom{
	width: 100vw;
	height: calc( (100vh - 600px) / 2);
	margin: 0px;
	padding: 0px;
	background: linear-gradient(#8e8e85, #423c3c)
}

#leftScore{
	align-self: center;
	position: absolute;
	color: white;top: 8vh;
	left: calc(50vw - 75px);
}

#rightScore{
	align-self: center;
	position: absolute;
	color: white;
	top: 8vh;
	left: calc(50vw + 75px);
}