#leftScore{
	align-self: center;
	position: absolute;
	color: white;top: calc( (100vh - 600px) / 2 + 8vh);
	left: calc(50vw - 75px);
}

#rightScore{
	align-self: center;
	position: absolute;
	color: white;
	top: calc( (100vh - 600px) / 2 + 8vh);
	left: calc(50vw + 75px);
}